<!DOCTYPE html>
<html>
<head>
  <title>Wood shop</title>
  <%= stylesheet_link_tag    "wood_shop/application", media: "all" %>
  <%= javascript_include_tag "wood_shop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
